<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>{{{ PRODUCT_NAME }}}</title>
    <link rel="shortcut icon" href="TemplateData/favicon.ico">
    <link rel="stylesheet" href="TemplateData/style.css">
    <script type="text/javascript" src="StreamingAssets/Playbite/Playbite.js"></script>
  </head>
  <body class="{{{ SPLASH_SCREEN_STYLE.toLowerCase() }}}">
    <div id="unity-container" class="unity-desktop">
      <canvas id="unity-canvas"></canvas>
    </div>
    <div id="loading-cover" style="display:none;">
      <div id="unity-loading-bar">
        <div id="unity-logo"><img src="TemplateData/logo.png"></div>
        <div class="loading-label">We're loading your game...</div>
      </div>
    </div>
    <script>
      //const cacheParam = "?cache=" + new Date().getTime().toString();
      const cacheParam = '?version={{{ PRODUCT_VERSION }}}';
      const buildUrl = "Build";
      const loaderUrl = buildUrl + "/{{{ LOADER_FILENAME }}}" + cacheParam;
      const config = {
        dataUrl: buildUrl + "/{{{ DATA_FILENAME }}}" + cacheParam,
        frameworkUrl: buildUrl + "/{{{ FRAMEWORK_FILENAME }}}" + cacheParam,
        codeUrl: buildUrl + "/{{{ CODE_FILENAME }}}" + cacheParam,
#if MEMORY_FILENAME
        memoryUrl: buildUrl + "/{{{ MEMORY_FILENAME }}}" + cacheParam,
#endif
#if SYMBOLS_FILENAME
        symbolsUrl: buildUrl + "/{{{ SYMBOLS_FILENAME }}}" + cacheParam,
#endif
        streamingAssetsUrl: "StreamingAssets",
        companyName: "{{{ COMPANY_NAME }}}",
        productName: "{{{ PRODUCT_NAME }}}",
        productVersion: "{{{ PRODUCT_VERSION }}}",
      };

      window.addEventListener("error", function(e) {
        if (window.Playbite)
          window.Playbite.trackEvent('error', e);
      });

      const container = document.querySelector("#unity-container");
      const canvas = document.querySelector("#unity-canvas");
      const loadingCover = document.querySelector("#loading-cover");
      const spinner = document.querySelector('.spinner');

      const canFullscreen = (function() {
        for (const key of [
            'exitFullscreen',
            'webkitExitFullscreen',
            'webkitCancelFullScreen',
            'mozCancelFullScreen',
            'msExitFullscreen',
          ]) {
          if (key in document) {
            return true;
          }
        }
        return false;
      }());

      if (/iPhone|iPad|iPod|Android/i.test(navigator.userAgent)) {
        //container.className = "unity-mobile";
        //config.devicePixelRatio = 1;
      } else {
        //canvas.style.width = "600px";
        //canvas.style.height = "960px";
      }
      loadingCover.style.display = "";

      var unityInstance =  null;

      const script = document.createElement("script");
      script.src = loaderUrl;
      script.onload = () => {
        createUnityInstance(canvas, config, (progress) => {
          if (window.Playbite) {
            window.Playbite.trackEvent('load_progress', { progress });
          }
        }).then((x) => {
          unityInstance = x;

          loadingCover.style.display = "none";
        }).catch((message) => {
          if (window.Playbite)
            window.Playbite.trackEvent('load_error', message);
        });
      };
      document.body.appendChild(script);

      function onResize()
      {
        canvas.width = canvas.clientWidth * window.devicePixelRatio;
        canvas.height = canvas.clientHeight * window.devicePixelRatio;
      }

      var _savedWidth = canvas.clientWidth;
      var _savedHeight = canvas.clientHeight;
      function isResized()
      {
          if(_savedWidth != canvas.clientWidth || _savedHeight != canvas.clientHeight)
          {
              _savedWidth = canvas.clientWidth;
              _savedHeight = canvas.clientHeight;
              onResize();
          }
      }

      window.addEventListener("resize", isResized);

      (new MutationObserver(function(mutations)
      {
          if(mutations.length > 0) isResized();
      })).observe(canvas, { attributes : true, attributeFilter : ['style'] });

      function sendMessageToPlaybite(message) {
        if (unityInstance)
          unityInstance.SendMessage('Playbite', 'OnMessage', message);
      }

      window.alert = function(e)
      {
        if (window.Playbite)
          window.Playbite.trackEvent('error', e);
      };
    </script>
  </body>
</html>